### REGISTRO DE TEMPERATURAS

In [9]:
import pandas as pd


temperaturas = pd.Series(
    [22, 24, 11, 21, 23, 26, 20],  
    index=['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']  
)


print("Registro de temperaturas de la semana:")
print(temperaturas)


temp_promedio = temperaturas.mean()


print(f"\nLa temperatura promedio de la semana es: {temp_promedio:.1f}°C")

Registro de temperaturas de la semana:
Lunes        22
Martes       24
Miércoles    11
Jueves       21
Viernes      23
Sábado       26
Domingo      20
dtype: int64

La temperatura promedio de la semana es: 21.0°C

#### INVENTARIO DE PRODUCTOS

In [ ]:
import pandas as pd


inventario = pd.Series({
    'Manzanas': 15,
    'Arroz': 8,
    'Naranjas': 12,
    'Leche': 5,
    'Pan': 20,
    'Huevos': 30,
    'Queso': 7
})

print( "Inventario de productos:")
print(inventario)

bajo_stock = inventario[inventario < 10]

print(" Productos con menos de 10 unidades en stock:")
print(bajo_stock)

Inventario de productos:
Manzanas    15
Arroz        8
Naranjas    12
Leche        5
Pan         20
Huevos      30
Queso        7
dtype: int64
 Productos con menos de 10 unidades en stock:
Arroz    8
Leche    5
Queso    7
dtype: int64

#### Precios de producto

In [10]:
import pandas as pd


precios = pd.Series({
    'sillon': 1200,
    'television': 800,
    'reloj': 500,
    'celular': 150,
    'zapatos': 300
})


print("Precios originales:")
print(precios)

# Aplicar un descuento del 15%
precios_descuento = precios * 0.85  # Multiplicamos por 85% (100% - 15%)

# Mostrar los precios con descuento
print(" Precios con 15% de descuento:")
print(precios_descuento)

Precios originales:
sillon        1200
television     800
reloj          500
celular        150
zapatos        300
dtype: int64
 Precios con 15% de descuento:
sillon        1020.0
television     680.0
reloj          425.0
celular        127.5
zapatos        255.0
dtype: float64

#### Calificaciones de estudiantes

In [13]:
import pandas as pd


calificaciones = pd.Series({
    'Alexa': 8,
    'Nadia': 9,
    'Carlos': 7,
    'Ruben': 6,
    'Ernesto': 8,
    'Evelyn': 4,
    'Antonio ': 10,
    'Paola': 8,
    'Luis': 5,
    'Fernanda': 0
})


print("Calificaciones de los estudiantes:")
print(calificaciones)


max_calificacion = calificaciones.max()
estudiante_max = calificaciones.idxmax()


min_calificacion = calificaciones.min()
estudiante_min = calificaciones.idxmin()


print(f" La calificación más alta es {max_calificacion}, obtenida por {estudiante_max}.")
print(f"La calificación más baja es {min_calificacion}, obtenida por {estudiante_min}.")

Calificaciones de los estudiantes:
Alexa        8
Nadia        9
Carlos       7
Ruben        6
Ernesto      8
Evelyn       4
Antonio     10
Paola        8
Luis         5
Fernanda     0
dtype: int64
 La calificación más alta es 10, obtenida por Antonio .
La calificación más baja es 0, obtenida por Fernanda.

#### Registro de ventas:

In [ ]:
import pandas as pd

ventas = pd.Series({
    'Lunes': 1500,
    'Martes': 2200,
    'Miércoles': 1800,
    'Jueves': 2500,
    'Viernes': 3000
})


print("Ventas diarias de la tienda:")
print(ventas)

total_ventas = ventas.sum()

dia_max_ventas = ventas.idxmax()
max_ventas = ventas.max()


print(f" Total de ventas de la semana: ${total_ventas}")
print(f"El día con más ventas fue {dia_max_ventas}, con ${max_ventas} en ventas.")

Ventas diarias de la tienda:
Lunes        1500
Martes       2200
Miércoles    1800
Jueves       2500
Viernes      3000
dtype: int64
 Total de ventas de la semana: $11000
El día con más ventas fue Viernes, con $3000 en ventas.

In [15]:
import pandas as pd


precios_tienda_A = pd.Series({
    'sillon': 1200,
    'television': 800,
    'reloj': 500,
    'celular': 150,
    'zapatos': 300
})

# Crear una Serie con los precios de productos en la Tienda B
precios_tienda_B = pd.Series({
    'Laptop': 1150,
    'Teléfono': 820,
    'Tablet': 480,
    'Auriculares': 160,
    'Monitor': 290
})

# Comparar los precios y determinar dónde es más barato cada producto
comparacion = precios_tienda_A < precios_tienda_B  # True si en A es más barato

# Crear una Serie con el resultado de la comparación
mejor_tienda = comparacion.map(lambda x: 'Tienda A' if x else 'Tienda B')

# Mostrar precios de ambas tiendas
print(" Precios en Tienda A:")
print(precios_tienda_A)

print("Precios en Tienda B:")
print(precios_tienda_B)

# Mostrar el resultado de la comparación
print("Tienda con el precio más barato para cada producto:")
print(mejor_tienda)

ValueError: Can only compare identically-labeled Series objects

#### Suma de series:

In [17]:
import pandas as pd

ingresos = pd.Series({
    'Lunes': 5000,
    'Martes': 7000,
    'Miércoles': 6500,
    'Jueves': 7200,
    'Viernes': 8000
})

gastos = pd.Series({
    'Lunes': 2000,
    'Martes': 2500,
    'Miércoles': 2300,
    'Jueves': 2800,
    'Viernes': 3000
})


beneficio = ingresos - gastos


print("Ingresos diarios:")
print(ingresos)

print("Gastos diarios:")
print(gastos)

print("Beneficio diario (Ingresos - Gastos):")
print(beneficio)

Ingresos diarios:
Lunes        5000
Martes       7000
Miércoles    6500
Jueves       7200
Viernes      8000
dtype: int64
Gastos diarios:
Lunes        2000
Martes       2500
Miércoles    2300
Jueves       2800
Viernes      3000
dtype: int64
Beneficio diario (Ingresos - Gastos):
Lunes        3000
Martes       4500
Miércoles    4200
Jueves       4400
Viernes      5000
dtype: int64

#### Filtrado de datos

In [20]:
import pandas as pd

edades = pd.Series({
    'Persona 1': 12,
    'Persona 2': 25,
    'Persona 3': 17,
    'Persona 4': 30,
    'Persona 5': 40,
    'Persona 6': 15,
    'Persona 7': 19,
    'Persona 8': 22,
    'Persona 9': 14,
    'Persona 10': 18,
    'Persona 11': 35,
    'Persona 12': 50,
    'Persona 13': 16,
    'Persona 14': 21,
    'Persona 15': 28
})


print(" Edades de las personas:")
print(edades)


edades_mayores = edades[edades > 18]

print(" Edades mayores de 18 años:")
print(edades_mayores)

 Edades de las personas:
Persona 1     12
Persona 2     25
Persona 3     17
Persona 4     30
Persona 5     40
Persona 6     15
Persona 7     19
Persona 8     22
Persona 9     14
Persona 10    18
Persona 11    35
Persona 12    50
Persona 13    16
Persona 14    21
Persona 15    28
dtype: int64
 Edades mayores de 18 años:
Persona 2     25
Persona 4     30
Persona 5     40
Persona 7     19
Persona 8     22
Persona 11    35
Persona 12    50
Persona 14    21
Persona 15    28
dtype: int64

#### Aplicación de funciones

In [21]:
import pandas as pd
import numpy as np


numeros = pd.Series(np.random.randint(1, 101, size=10))

print(" Números aleatorios:")
print(numeros)

numeros_cuadrados = numeros ** 2


print(" Números elevados al cuadrado:")
print(numeros_cuadrados)

 Números aleatorios:
0    60
1    39
2    32
3    78
4    72
5    43
6    95
7    73
8    93
9    42
dtype: int32
 Números elevados al cuadrado:
0    3600
1    1521
2    1024
3    6084
4    5184
5    1849
6    9025
7    5329
8    8649
9    1764
dtype: int32

#### Concatenación de series:

In [ ]:
import pandas as pd


ventas_mes1 = pd.Series({
    'Día 1': 1500,
    'Día 2': 2200,
    'Día 3': 1800,
    'Día 4': 2500,
    'Día 5': 3000
})


ventas_mes2 = pd.Series({
    'Día 6': 2700,
    'Día 7': 3200,
    'Día 8': 2900,
    'Día 9': 3100,
    'Día 10': 2800
})


ventas_totales = pd.concat([ventas_mes1, ventas_mes2])

print("Registro completo de ventas:")
print(ventas_totales)

📊 Registro completo de ventas:
Día 1     1500
Día 2     2200
Día 3     1800
Día 4     2500
Día 5     3000
Día 6     2700
Día 7     3200
Día 8     2900
Día 9     3100
Día 10    2800
dtype: int64